:root {
  --light: 0, 0%, 99%; /* white */
  --dark: 221, 44%, 19%; /* dark blue */
  --gray: 223, 10%, 59%; /* gray */
  --gray-dark: 0, 0%, 24%; /* actual dark */

  --header-light: 49, 85%, 65%; /* pale golden */

  --link-light: 49, 100%, 100%;

  --container-light: 221, 54%, 34%; /* lightless blue */
  --container-lighter: 221, 54%, 40%;
  --container-dark: 221, 50%, 27%; /* darker blue */

  --important-light: 343, 84%, 57%; /* pale wine */
  --important-lighter: 343, 100%, 66%;

  --bg-light: 221, 40%, 49%; /* higher contrast/light than -dark */
  --bg-dark: 221, 64%, 19%; /* higher contrast than -dark */

  --text-gray: 0, 0%, 91%;

  --number: 120, 68%, 62%;
  --number-orange: 36, 90%, 60%;
  --number-purple: 244, 55%, 70%;
}

*:hover {
  /* outline: 1px solid red; */
}

body {
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  color: hsl(var(--light));
  background-color: hsl(var(--bg-dark));
}

main {
  background-color: hsl(var(--dark));
  padding: 3rem 9rem;

  background-repeat: repeat-x;
  background-position: top center;

  position: relative;
  isolation: isolate;
}

main::after {
  content: '';
  position: absolute;
  background-color: hsl(var(--bg-dark));
  inset: 0;
  z-index: -2;
  opacity: .75;
  
}

.main-container {
  max-width: 1000px;
  margin: auto;
  padding: 1.25em;

  background-color: hsl(var(--container-dark));

  border-radius: 0 0 .5em .5em;
}

@media only screen and (max-width: 1200px) {
  main {
      padding: 3rem 0;
  }

  .main-container {
      width: 90% !important;
  }
}

@media only screen and (max-width: 880px) {
  .main-container {
      padding: 1em;
      width: 92.5% !important;
  }
}

@media only screen and (max-width: 570px) {
  .main-container {
      width: 95% !important;
  }
}

/* Utility classes */
.shadow-container {
  box-shadow: 1px 1px 2px hsl(var(--bg-dark), 20%);
}

.border-rounded {
  border-radius: .5em;
}

.header {
  color: hsl(var(--header-light));
  font-weight: 700;
}

.number {
  font-weight: bold;
  color: hsl(var(--number));
}

.number-purple {
  font-weight: bold;
  color: hsl(var(--number-purple));
}

.important {
  font-weight: 700;
  text-decoration: none;
  color: hsl(var(--important-light));
}

.important:hover {
  color: hsl(var(--important-light), 50%);
}

.tip {
  font-weight: bold;
  color: hsl(var(--number-orange));
}

.code {
  margin: 0 .15em;
  padding: .35em .75em;
  color: hsl(var(--text-gray));
  background-color: hsl(var(--gray-dark));
  border-radius: .5em;
}

.skill {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(1, 1fr);
  place-content: center;
  gap: .5em;
  padding: .35em .65em;
  color: hsl(var(--light));
  background-color: hsl(var(--bg-light), 50%);
  border-radius: .5em;
  font-weight: 700;
}

.skill:hover {
  color: hsl(var(--dark));
  background-color: hsl(var(--light));
}

/* .hidden {
  opacity: 0;
  transition: all 2s;
}

.grayed {
  filter: grayscale(100%);
  transition: all 3s;
}

.blurred {
  filter: blur(10px);
  transition: all 1.5s;
}

.scaled {
  opacity: 0;
  scale: 0;
  filter: blur(3px);
  transition: all 2s;
}

.translated {
  opacity: 0;
  filter: blur(2px);
  transform: translate(-100%);
  transition: all 2s;
}

.translated-right {
  opacity: 0;
  filter: blur(2px);
  transform: translate(100%);
  transition: all 2s;
}

@media(prefers-reduced-motion) {
  .hidden, .grayed, .blurred, .scaled, .translated  {
    transition: none;
  }
}

.show {
  opacity: 1;
  filter: blur(0);
  scale: 1;
  transform: translate(0);
} */

#btn-back-to-top {
  display: none;

  bottom: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  color: hsl(var(--light));
  background-color: hsl(var(--important-lighter));

  border: none;
  border-radius: 50%;

  position: fixed;
}

#btn-back-to-top:hover {
  background-color: hsl(var(--important-light));
}

#btn-back-to-top:active {
  scale: 1.05;
}

/* P swap on hover */
.text-swap {
  display: none;
}

.div-hover:is(:focus, :hover):has(.text-default) .text-default {
  display: none;
}

.div-hover:is(:focus, :hover):has(.text-default) .text-swap {
  display: block;
}

/* Build + Links */
.build {
  position: relative;
  isolation: isolate;

  background-position: 50% 45%;

  border-radius: .5em .5em 0 0 !important;
}

.build::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: hsl(var(--container-dark));
  opacity: 0.7;

  border-radius: .5em .5em 0 0;
}

.updated-date {
  position: absolute;
  font-size: .75rem;
  right: 5px;
  bottom: 45px;
  color: hsl(var(--light), 70%);
  text-transform: uppercase;
  font-weight: 700;
}

.build h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.build h2, .build h3 {
  font-size: 1rem;
}

.build h3 > span {
  color: hsl(var(--light))
}

.content-table {
  display: flex;
  justify-content: center;
  text-align: center;
  
  background-color: hsl(var(--bg-dark));
  flex-wrap: wrap;
  word-break: keep-all;
  font-size: 1.1rem;
}

.content-table .link {
  width: 10em;
  padding: .5em;
}

@media only screen and (max-width: 990px) {
  .content-table .link {
    width: 50% !important;
    outline: .1ex solid hsl(var(--light), 5%);
    outline-offset: -.2ex;
  }

  .updated-date {
    bottom: 90px;
  }
}

@media only screen and (max-width: 400px) {
  .content-table .link {
    width: 100% !important;
    outline: .1ex solid hsl(var(--light), 5%);
    outline-offset: -.2ex;
  }

  .updated-date {
    bottom: 180px;
  }
}

.content-table a {
  text-decoration: none;
  color: hsl(var(--link-light));
}

.content-table a:hover {
  background-color: hsl(var(--container-dark));
}

/* Author */
#Author {
  border-radius: .5em;
  background-color: hsl(var(--container-light));
}

#Author p {
  margin: 0;
  padding: 0;

  color: hsl(var(--text-gray));
}

#Author h3 {
  color: hsl(var(--header-light));
}

#Author > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: .5em;
}

.list-container {
  background-color: hsl(var(--container-lighter));
  border-radius: .5em;
  max-width: 100%;
  width: 49%;
}

@media only screen and (max-width: 990px) {
  .list-container {
    width: 100%;
  }
}

/* Data, observations */
#Data-Observations {
  display: flex;
  flex-wrap: wrap;
  gap: .25em;
}

#Data-Observations > div {
  color: hsl(var(--text-gray));
}

#Data {
  min-width: 350px;

}

#Observations {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 990px) {
  #Data, #Observations {
    flex: auto;
    width: 100%;
  }

  #Data {
    min-width: auto;
  }
}

#Data > div, #Observations > div {
  flex: 1;
  background-color: hsl(var(--container-light));
  border-radius: .5em;
}

/* Equipment & tabs */
#Equipment p {
  margin: 0;
  padding: 0;
}

.tab-content {
  background-color: hsl(var(--container-light));
  border-radius: .5em 0 .5em .5em;
}

#Equip-tab button {
  text-decoration: none;
  border: none;

  color: hsl(var(--text-gray));
  background-color: hsl(var(--bg-dark));

  padding: .25em 1em;
}

#Equip-tab button:is(:hover, :focus) {
  background-color: hsl(var(--important-light));
}

#Equip-tab button:is(:active) {
  background-color: hsl(var(--important-light), 80%);
}

.tab-buttons {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 570px) {

  .tab-buttons {
    width: 100%;
  }

  #gear-tab, #shadow-tab, #cards-tab, #enchants-tab {
    width: 50%;
    outline: .1ex solid hsl(var(--light), 5%);
    outline-offset: -.1ex;
  }

  #pets-tab {
    width: 100%;
    outline: .1ex solid hsl(var(--light), 5%);
    outline-offset: -.1ex;
  }
}

.gear-container {
  display: flex;
  justify-content: center;
  
  border-radius: .5em 0 .5em .5em;
}

@media only screen and (max-width: 1130px){
  .gear-container {
    overflow-x: scroll;
    justify-content: start;
  }
}

.gear-container span {
  user-select: none;
}

.gear-slot {
  width: 300px;
}

.gear-slot img {
  width: 22px;
  height: 22px;
}

.gear-slot > div {
  width: 90%;
}

.img-equip {
  text-align: center;
  width: 200px;
  object-fit: none;
  object-position: 53% 50%;
}

.gear-col {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 300px;
  border-radius: .5em 0 0 .5em;

  color: hsl(var(--dark));
  background-color: white;
}

.gear-col-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 300px;
  border-radius: 0 .5em .5em 0;

  color: hsl(var(--dark));
  background-color: white;
}

.gear-col > div > div, .gear-col-2 > div > div {
  border-bottom: 1px solid hsl(var(--text-gray));
}

.form-select {
  padding: 0 2em 0 0;
  border: none;
}

.right {
  text-align: right;
  margin: 0;
  z-index: 3;
}

.pet-row {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: .25em;

  background-color: white;
  border-radius: .5em;
}

.pet-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5em;

  padding: 1em;
}

.pet-col img {
  object-fit: none;
}

.pet-col p {
  color: hsl(var(--number-purple));
  font-size: .85rem;
  font-weight: 700;
}

/* Calculations + math */
#Calculations {
  color: hsl(var(--text-gray));
  width: 100%;
  max-width: 800px;
}

#Calculations h2 {
  color: hsl(var(--light));
}

#Calculations p {
  margin: 0;
  padding: 0;
}

#Calculations .number {
  letter-spacing: 0.1ex;
}

#Calculations span {
  font-size: .75rem;
}

@media only screen and (max-width: 400px) {
  #Calculations span {
    display: none;
  }
}

.calc-container {
  background-color: hsl(var(--container-lighter));
}
/* End */

/* Status, Battle Stats, Pets */
#Stats {
  display: flex;
  flex-direction: column;
  color: hsl(var(--text-gray));
}

#Stats > div {
  display: flex;
  justify-content: space-between;
  gap: .5em;
}

#Status, #Battle-Stats {
  min-width: 450px;
}

#Status {
  background-color: hsl(var(--container-light));
  border-radius: .5em;
}

#Status > div:nth-child(1) {
  display: flex;
  flex-direction: column;
}

#Status > div:nth-child(2) {
  background-color: hsl(var(--container-lighter));
  border-radius: .5em;
}

.stats-window-grid {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;

  max-width: 250px;

  background-color: hsl(var(--bg-light), 30%);
  border-radius: .5em;

  place-content: center;
  align-items: center;
  padding: 1em;
}

.stats-window-grid div {
  display: flex;
  flex-direction: column;
}

.stats-window-grid p {
  display: flex;
  margin: 0;
}

.stats-window-grid p span:nth-child(1) {
  color: hsl(var(--number-purple));
}

.stats-window-grid p span:nth-child(2) {
  margin-inline-start: auto;
  font-weight: 700;
  padding-inline-end: .25em;
}

.stats-window p:not(:first-child) {
  display: flex;
  margin: 0;
}

.stats-window span:nth-child(1) {
  color: hsl(var(--number-purple));
}

.stats-window span:nth-child(2) {
  font-weight: 700;
}

#Battle-Stats {
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--container-light));
  border-radius: .5em;
}

.battle-stats-window {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  color: hsl(var(--text-gray));
  background-color: hsl(var(--container-lighter));
  border-radius: .5em;
}

.battle-stats-grid {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1em;
}

.battle-stats-grid > * {
  max-width: 200px;
  border-radius: .5em;
  background-color: hsl(var(--bg-light), 30%);
}

.battle-stats-grid p {
  display: flex;
  margin: 0;
}

.battle-stats-grid span:nth-child(1) {
  color: hsl(var(--header-light));
}

.battle-stats-grid span {
  font-weight: 700;
}

.battle-stats-grid > div p:nth-child(1) {
  color: hsl(var(--important-lighter));
  text-shadow: 3px 3px 0px solid hsl(var(--light));
  font-size: .85rem;
  font-weight: 700;
  top: -10px;
  left: 15px;
  z-index: 2;
  user-select: none;
}

@media only screen and (max-width: 1200px) {

  #Stats > div {
    flex-wrap: wrap;
  }

  #Status, #Battle-Stats {
    width: 100%;
  }

  .stats-window-grid {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0;
  }

  .stats-window-grid div:nth-child(2) {
    border-inline-end: 1px solid hsl(var(--light));
    padding-inline-end: .75em;
  }

  .stats-window-grid div:nth-child(3) {
    padding-inline-start: .75em;
  }

  .battle-stats-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-content: center;
  }
}

@media only screen and (max-width: 766px) {
  .stats-window-grid {
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0;
  }

  .stats-window-grid div:nth-child(2) {
    border-inline-end: 1px solid hsl(var(--light));
    padding-inline-end: .75em;
  }

  .stats-window-grid div:nth-child(3) {
    padding-inline-start: .75em;
  }

  .battle-stats-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .battle-stats-grid > * {
    max-width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  #Status, #Battle-Stats {
    min-width: 100%;
  }

  .stats-window-grid {
    max-width: 250px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .stats-window-grid div:nth-child(2) {
    border-inline-end: none;
    padding-inline-end: 0;
  }

  .stats-window-grid div:nth-child(3) {
    padding-inline-start: 0;
  }

  .battle-stats-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* Skills */
#Skills > div {
  border-radius: .5em;
  color: hsl(var(--text-gray));
  background-color: hsl(var(--container-light));
}

.toggle-names {
  padding: .25em 1em;
  color: hsl(var(--text-gray));
  background-color: hsl(var(--important-lighter));
  font-size: .75rem;
  font-weight: 700;
  border: none;
  border-radius: .5em;
  text-transform: uppercase;
}

.toggle-names:hover {
  background-color: hsl(var(--important-light));
}

.toggle-names:active {
  box-shadow: 0 0 0 3px hsl(var(--important-light), 30%);
}

.skill-priority {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 100%;

  padding: 1em;

  background-color: hsl(var(--container-lighter));
  border-radius: .5em;
}

.skill-priority-cont {
  display: flex;
}

.skill-priority-cont > div:nth-child(1) {
  flex: 0 0 100px;
}

.skill-priority-cont > div:nth-child(1) p {
  margin: 0;
}

.skill-priority-cont > div:nth-child(1) p:nth-child(2) {
  font-size: .75rem;
}

.skill-priority-cont > div:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: .25em;
}

.skill-priority-cont > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: .25em;
}

.skill-priority-cont span:nth-child(2) {
  display: none;
}

@media only screen and (max-width: 766px) {
  .skill-priority-cont {
    flex-wrap: wrap;
  }

  .skill-priority-cont > div:nth-child(1) {
      flex: 0 0 100%;
      display: flex;
      align-items: center;
      gap: .5em;
      margin-block-end: .5em;
  }
}

.skills-usage {
  display: grid;
  grid-column: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  place-content: center;
  gap: 1em;
}

.skills-usage > div {
  display: flex;
  flex-direction: column;
}

.skills-usage > div > div {
  flex: 1 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: .5em;

  padding: 1em;

  background-color: hsl(var(--container-lighter));
  border-radius: .5em;
}

.skills-usage > div:nth-child(2) > div {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.skills-usage > div:nth-child(2) > div p {
  margin: 0;
}

/* Consumables */
#Consumables > div {
  color: hsl(var(--text-gray));
  background-color: hsl(var(--container-light));
  border-radius: .5em;
}

/* Item farming */
#Farming-Items > div {
  color: hsl(var(--text-gray));
  background-color: hsl(var(--container-light));
  border-radius: .5em;
}

/* Guide */
#Guide > div {
  color: hsl(var(--text-gray));
  background-color: hsl(var(--container-light));
  border-radius: .5em;
}


/* Footer */
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;

  margin: 0;
  padding: 2em 0;

  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;

  color: hsl(var(--light));
  background-color: hsl(var(--bg-dark));

  box-shadow: 0 0 50px 0 hsl(var(--container-light), 50%);
  isolation: isolate;
}
footer p {
  margin: 0;
  padding: 0;
}

footer a {
  text-decoration: none;
  color: hsl(var(--important-lighter));
}

footer a:hover {
  color: hsl(var(--important-light), 60%);
}

footer > a > span:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 570px) {
  footer > * {
    text-align: center;
    width: 100%;
    gap: 0;
  }

  footer p {
    padding-top: .75em;
  }

  footer a {
    padding-bottom: .75em;
  }
}